<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://xmlns.jcp.org/xml/ns/javaee"
 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
 id="WebApp_ID" version="3.1">
 <display-name>Learn_Setup</display-name>
 <servlet>
  <servlet-name>simpleServlet</servlet-name>
  <servlet-class>com.java.servlets.SimpleServlet</servlet-class>
  <init-param>
   <param-name>secretCode</param-name>
   <param-value>12345</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>simpleServlet</servlet-name>
  <url-pattern>/servlets/simple.do</url-pattern>
 </servlet-mapping>
 <servlet>
  <servlet-name>redirectServlet</servlet-name>
  <servlet-class>com.java.servlets.RedirectServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>redirectServlet</servlet-name>
  <url-pattern>/servlets/redirect.do</url-pattern>
 </servlet-mapping>
 <servlet>
  <servlet-name>simpleServlet2</servlet-name>
  <servlet-class>com.java.servlets.SimpleServlet2</servlet-class>
  <load-on-startup>1</load-on-startup>
 </servlet>
 <servlet-mapping>
  <servlet-name>simpleServlet2</servlet-name>
  <url-pattern>/servlets/simple2.do</url-pattern>
 </servlet-mapping>
 <context-param>
 <param-name>test</param-name>
 <param-value>yes</param-value>
 </context-param>
 <welcome-file-list>
  <welcome-file>servlets/simple.do</welcome-file>
 </welcome-file-list>
</web-app>